.prodContainer {
  padding: 40px 20px;
  height: 100vh;

  font-size: 14px;
  color: var(--white-color);
  background-color: var(--black-color);

  @media screen and (min-width: 768px) {
    padding: 48px 32px;
  }

  @media screen and (min-width: 1440px) {
    padding: 68px 96px;

    background-image: url(../../images/desktop_images/products-desktop.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;

    @media (min-resolution: 192dpi) {
      background-image: url(../../images/desktop_images/products-desktop@2x.png);
    }
  }
}

.dropDownContainer {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.productsTitle {
  width: 98px;

  font-size: 24px;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    width: 130px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 0;
  }
}

.dropDownAll {
  padding: 14px;
  /* width: 118px; */
  height: auto;

  color: var(--white-color);
  font-size: 14px;
  line-height: 1.29;
  font-weight: 400;

  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.3);

  background-color: var(--black-color);

  @media screen and (min-width: 375px) {
    width: 146px;
  }

  @media screen and (min-width: 1440px) {
    width: 204px;
    font-size: 16px;
  }
}

.desktopCntrlWrap {
  @media screen and (min-width: 1440px) {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
  }
}

.cardsWrapper {
  gap: 16px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 645px;
    height: auto;
    max-height: 100vh;
    overflow: auto;
    /* overflow-y: scroll; */
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    width: 785px;
    gap: 16px;
    height: 487px;
    max-height: 100vh;
    /* overflow-y: scroll; */
    overflow: auto;
  }

  /* SCROLLBAR */
  &::-webkit-scrollbar {
    width: 8px;
    height: 153px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 12px;
    background: rgba(239, 237, 232, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--orange-secondary-color);
    border-radius: 12px;
  }
}

.cardsWrapperFiltered {
  gap: 16px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 645px;
    height: auto;
    max-height: 100vh;
    overflow: auto;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    width: 785px;
    gap: 16px;
    height: auto;
    max-height: 100vh;
    overflow: auto;
  }

  /* SCROLLBAR */
  &::-webkit-scrollbar {
    width: 8px;
    height: 153px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 12px;
    background: rgba(239, 237, 232, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--orange-secondary-color);
    border-radius: 12px;
  }
}

/* drop down categories */

.categoryListDrop {
  display: block;
  margin-right: 16px;
  padding: 14px;
  height: auto;

  font-family: Roboto-400;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.29;
  font-weight: 400;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.3);

  background-color: var(--black-color);

  @media screen and (min-width: 375px) {
    width: 146px;
  }

  @media screen and (min-width: 1440px) {
    width: 192px;

    font-size: 16px;
  }
}

.filtersTitle {
  @media screen and (min-width: 1440px) {
    margin-bottom: 8px;
    margin-right: 2px;
    font-family: Roboto-400;
    color: rgba(239, 237, 232, 0.5);
    font-size: 14px;
    text-align: right;
  }
}

.filtersCtrls {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    display: flex;
    margin-left: auto;
    margin-bottom: 32px;
    align-items: center;
    margin-left: auto;
    justify-content: left;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    margin-left: auto;
  }
}
