.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.basicModalContainer {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 48px 24px;

  display: flex;
  width: 335px;
  height: 280px;

  transform: translate(-50%, -50%) scale(100%);

  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);

  background-color: #10100f;

  @media screen and (min-width: 768px) {
    padding: 48px 24px;

    width: 479px;
    height: 286px;
  }

  @media screen and (min-width: 1440px) {
    padding: 48px 32px;

    width: 479px;
    height: 286px;
  }
}

.selectedProductDescr {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.productCardPopUp {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.caloriesCount {
  color: rgba(239, 237, 232, 0.4);
  font-size: 12px;
}

.basicModalSelectedProduct {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;

  font-size: 16px;
  color: rgba(239, 237, 232, 0.3);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  background-color: #10100f;
  border-radius: 12px;
  border: 1px solid #e6533c;

  @media screen and (width: 375px) and (max-width: 767px) {
    margin-bottom: 16px;
    width: 273px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 16px;
    width: 230px;
  }

  @media screen and (min-width: 1440px) {
    width: 242px;
  }
}

.basicModalFormInput {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 14px;

  text-align: left;

  color: #efede8;
  font-size: 16px;

  background-color: #10100f;
  border-radius: 12px;
  border: 1px solid #e6533c;

  @media screen and (width: 375px) {
    width: 273px;
  }

  @media screen and (min-width: 768px) {
    padding: 8px 14px;
    width: 127px;
  }

  @media screen and (min-width: 1440px) {
    width: 155px;
  }
}

.weightLabel {
  position: absolute;

  left: 252px;
  top: 113px;
  width: 273px;

  color: rgba(239, 237, 232, 0.3);
  font-size: 12px;

  @media screen and (min-width: 768px) {
    left: 382px;
    top: 60px;
    width: 127px;
  }

  @media screen and (min-width: 1440px) {
    left: 401px;
    width: 155px;
  }
}

.closeBasicModal {
  display: block;
  border: none;
  outline: none;
  padding: 0;

  position: absolute;
  top: 14px;
  right: 14px;

  color: #efede8;
  background-color: transparent;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    top: 16px;
    right: 16px;
  }
}

.closeBasicModalIcon {
  stroke: currentColor;

  @media screen and (min-width: 768px) {
    width: 26px;
    height: 26px;
  }
}

.basicModalForm {
  /* margin-bottom: 16px; */
  position: relative;

  @media screen and (width: 375px) {
    margin-bottom: 16px;
  }
}

.selectedProdBtns {
  display: flex;
  /* justify-content: space-between; */

  margin-top: 24px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-top: 64px;
  }
}

.addDiaryBtn {
  display: block;
  border: none;
  outline: none;

  margin-right: 14px;
  padding: 12px 32px;
  width: 151px;
  height: auto;

  color: #efede8;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  background: #e6533c;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    padding: 14px 32px;
  }
}

.cancelAddBtn {
  display: block;
  border: none;
  outline: none;

  padding: 12px 36px;
  width: 121px;

  color: #efede8;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.3);
  cursor: pointer;

  @media screen and (min-width: 768px) {
    padding: 14px 40px;
    width: 142px;
  }
}

.kcalNumber {
  color: #efede8;
  font-size: 12px;
}
