.backBtn {
  background-color: transparent;
  border: none;
  color: rgba(239, 237, 232, 0.4);
  font-family: Roboto-400;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  position: absolute;
  top: 0;
  z-index: 50;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 8px;
  top: -250px;
  z-index: 1;
  cursor: pointer;
  padding: 0;
}
.icon-back-arrow{
  align-items: center;
}

.back{
  display: flex;
  align-items: center;
}

.pagination {
  margin-top: 32px;
  width: 100%;
}
.pagination_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.paginationButton {
  border: unset;
  width: 14px;
  height: 14px;
  background-color:rgba(239, 237, 232, 0.1);
  border-radius: 50%;
}

.activeButton {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid rgba(230, 83, 60, 1);
  background-color: rgba(230, 83, 60, 1)
}

@media (min-width: 768px) {
  .backBtn{
    top: -200px;
    margin-left: 10%;
  } 
}