.radio {
  position: relative;
}

.radio_input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio_label {
  padding-left: 25px;
  cursor: pointer;
  font-family: 'RobotoRegular';
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: -0.28px;
  color: #efede8;
  margin-right: 9px;
}

.radio_label::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid #636366;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 0;
}

.radio_label::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid var(--orange-secondary-color);
  background-color: var(--orange-secondary-color);
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  top: 7px;
  left: 4px;
  z-index: 2;
}

.radio_input:checked + .radio_label::before {
  border-color: var(--orange-secondary-color);
}

.radio_input:checked + .radio_label::after {
  opacity: 1;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .radio_label {
    font-size: 16px;
    line-height: 24px;
  }
}
