.form_container {
  margin-top: 20px;
}
.section_title {
  margin-bottom: 4px;
  font-size: 12px;
  color: rgba(239, 237, 232, 0.5)
}
.input {
  width: 335px;
  padding: 14px;
  margin-bottom: 14px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.3);
  background-color: transparent;
  color: #efede8;
  font-size: 14;
}
.input_field {
  width: 165px;
  padding: 14px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.3);
  background-color: transparent;
  color: #efede8;
}
.input_field::placeholder {
  color: #efede8;
}

.wrapper_input_field {
  display: inline-flex;
  align-items: flex-end;
  gap: 14px;
}

.wrapper_input {
  position: relative;
}
.wrapper_input_label {
  position: absolute;
  font-size: 14px;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: top 0.2s, left 0.2s, transform 0.2s;
  color: var(--white-color);
}
/* .wrapper {
} */
.wrapper_radio {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.wrapper_level {
  margin-top: 40px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6533C;
  width: 136px;
  height: 42px;
  border-radius: 12px;
  border: none;
  color: #EFEDE8;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 28px;
  margin-bottom: 12px;
  cursor: pointer;
  }

  .button:hover,
  .button:focus {
    background-color: #EF8964;
  }

@media screen and (min-width: 768px) {
  .form_container {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 700px;
  }
  .section_title {
    font-size: 14px;
  }
  .button {
    margin: 40px 0px 64px 0;
    padding: 16px 50px;
  }
  .wrapper_level {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .input {
    width: 341px;
  }
  .wrapper_radio {
    display: block;
  }
  .button {
    width: 144px;
    height: 56px;
  }
}
