.day_dashboard_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .day_dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .diary_left {
    display: flex;
    gap: 13px;
  }
  .rigth {
    display: flex;
    flex-direction: column;
    gap: 20px 13px;
  }
  .btns1 {
    display: flex;
    gap: 13px;
  }
  .btns2 {
    display: flex;
    gap: 13px;
  }
  .diary_item_red {
    background: #E6533C;
  }
  

  @media screen and (min-width: 768px) {
    .day_dashboard_container {
      width: 593px;
      gap: 32px;
    }
    .day_dashboard {
      flex-direction: row;
      gap: 16px;
    }
  
    .diary_left {
      flex-direction: column;
    }
    .rigth {
      gap: 16px;
      flex-direction: row;
    }
    .btns1 {
      flex-direction: column;
    }
    .btns2 {
      flex-direction: column;
    }
  }
  @media screen and (min-width: 1440px) {
    .day_dashboard_container {
      width: 380px;
      gap: 48px;
    }
    .day_dashboard {
      flex-direction: column;
    }
    .diary_left {
      flex-direction: row;
    }
  
    .rigth {
      flex-direction: column;
    }
    .btns1 {
      flex-direction: row;
    }
    .btns2 {
      flex-direction: row;
    }
  }
  