.main_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.wrap_avatar{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #e6533c;
  background-color: rgba(48, 48, 48, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #e6533c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar_svg{
  width: 62px;
  height: 62px;
  fill: rgba(239, 237, 232, 0.1);
}
.button {
  cursor: pointer;
}
.icon_btn {
  width: 24px;
  height: 24px;
  position: relative;
  top: -13px;
  left: 0px;
}
.title_name {
  color: var(--white-color);
}
.subtitle {
  font-size: 14px;
  line-height: 18px;
  color: #efede84d;
  margin-top: 4px;
}


@media screen and (min-width: 768px) {
  .main_wrapper {
    margin-top: 40px;
  }
  .wrap_avatar{
    width: 150px;
    height: 150px;
  }
  .avatar {
    width: 150px;
    height: 150px;
  }
  .avatar_svg{
    width: 102px;
    height: 102px;
  }
  .icon_btn {
    width: 32px;
    height: 32px;
    top: -17.5px;
  }
  .title_name {
    font-size: 24px;
    line-height: 28px;
  }
  .subtitle {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1440px){
  
}