/* ExercisesItem.module.css */

.exercises-item {
    border-radius: 12px;
    border: 1px solid rgba(239, 237, 232, 0.20);
    background: rgba(239, 237, 232, 0.05);
    padding: 10px;
    margin-bottom: 10px;
    color: #EFEDE8; /* Цвет для самих данных в div */
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
  }
  
  .exercises-item h3 {
    color: #EFEDE8; /* Цвет для самого названия упражнения */
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
  }
  
  .data-name {
    color: rgba(239, 237, 232, 0.40); /* Цвет для названия данных */
  }
  
  .data-value {
    color: #EFEDE8; /* Цвет для самих данных */
  }