/* ExercisesItem.module.css */

.exercises-item-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.exercises-item {
  width: 335px;
  height: 141px;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background: rgba(239, 237, 232, 0.05);
  padding: 10px;
  margin-bottom: 10px;
  color: #efede8;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto-400;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exercise-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 8px;
}

.exercise-middle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.exercise-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

svg {
  width: 24px;
  height: calc(100%);
  fill: #ffffff;
}

.exercise-middle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-top: 33px;
}

.cardRunningIcon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.data-right {
  text-transform: capitalize;
  color: #efede8;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto-400;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
}

.exercise-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-name {
  color: rgba(239, 237, 232, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto-400;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.data-value {
  text-transform: capitalize;
  color: #efede8;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto-400;

  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.exercise-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.workout-title {
  display: inline-flex;
  padding: 5px 7.5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: rgba(239, 237, 232, 0.05);

  color: var(--white-white, #fff);
  font-family: Roboto-700;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.start-button {
  color: #e6533c;
  font-family: Roboto-400;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

.arrow-svg {
  width: 24px;
  height: 24px;
  fill: #e6533c;
}

.workout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-svg-container {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: transparent;
}

.data-name-middle {
  color: #efede8;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto-400;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
}


@media (min-width: 768px) {
  .exercises-item-box {
    overflow-y: auto; 
    max-height: 100vh; 
    
   
    &::-webkit-scrollbar {
      width: 8px;
      height: 153px;
    }

  
    &::-webkit-scrollbar-track {
      border-radius: 12px;
      background: rgba(239, 237, 232, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      background: #ef8964;
      border-radius: 12px;
    }
  }
}