body {
  overflow-x: hidden;
}



.bg {
  background-color: #040404;
}

.btnCategories {
  color: #efede8;
  font-family: Roboto-400;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border: none;
  background-color: #040404;
  outline: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 20px;
  margin-bottom: 48px;
  margin-left: 20px;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.btnCategories:hover {
  color: #ef8964;
}

.btnCategories::before {
  content: '';
  width: 100%;
  height: 4px;
  background: transparent;
  position: absolute;
  bottom: -4px;
  left: 0;
  border-radius: 2px;
  transition: background 0.3s ease;
}

.btnCategories.active::before {
  background: #ef8964;
}

.btnCategories.active {
  color: #EFEDE8;
  font-family: Roboto-400;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.btnCategories:not(.active) {
  color: rgba(239, 237, 232, 0.40);
  font-family: Roboto-400;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.phContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imageContainer {
  position: relative;
  text-align: center;
  margin: 10px;
}

.img {
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.20);
  background: linear-gradient(0deg, rgba(4, 4, 4, 0.50) 0%, rgba(4, 4, 4, 0.50) 100%), lightgray -2px -151.969px / 101.493% 247.543% no-repeat;
  width: 100%;
  max-width: 335px;
  height: auto;
  cursor: pointer;
}

.img:hover{
  border-radius: 30px;
  border: 2px solid #ef8964;
  /* animation: jump 5s ease; */
  
}

/* @keyframes jump {
  30% { transform: scale(1.1); }
} */


.imageText,
.categoryName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #efede8;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto-400;
  font-weight: 400;
}

.imageText {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.categoryName {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(239, 237, 232, 0.40);
  margin-top: 15px;
}

h2 {
  color: #efede8;
}

@media (min-width: 768px) {
  .phContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin-left: 50%;
    margin-right: 50%;
    justify-content: center;
    max-width: 600px;
  }

  .imageContainer {
    margin: 0 auto;
  }

  .categoryButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: -30px;
    margin-bottom: 76px;
    margin-right: 10%;
  }

  .btnCategories {
    margin: 0;
  }

  .btnCategories.active {
    color: #EFEDE8;
    font-family: Roboto-400;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .btnCategories:not(.active) {
    color: rgba(239, 237, 232, 0.40);
    font-family: Roboto-400;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}


  .title {
    margin-bottom: 64px;
  }
  .img {
    border-radius: 12px;
    border: 1px solid rgba(239, 237, 232, 0.20);
    background: linear-gradient(0deg, rgba(4, 4, 4, 0.50) 0%, rgba(4, 4, 4, 0.50) 100%), lightgray -2px -151.969px / 101.493% 247.543% no-repeat;
    width: 224px;
    height: 206px;
  }


@media (min-width: 1440px) {
  .phContainer {
    grid-template-columns: repeat(5, 1fr);
    margin: 12px 128px;
    margin-left: 50%;
    margin-right: 50%;
  }
  
  }


  .btnCategories.active {
    color: #EFEDE8;
    font-family: Roboto-400;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .btnCategories:not(.active) {
    color: rgba(239, 237, 232, 0.40);
    font-family: Roboto-400;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
 