.container {
  display: flex;
  flex-direction: column;
  width: 165px;
  height: 96px;
  padding: 14px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.svg {
  width: 16px;
  height: 16px;
  fill:rgba(239, 137, 100, 1);
  stroke: var(--orange-main-color);
}

.text {
  color: rgba(239, 237, 232, 0.8);
  font-family: 'Roboto-400';
  font-size: 12px;
  line-height: 16px;
}
.value {
  color: var(--white-color);
  font-family: 'Roboto-700';
  font-size: 24px;
  line-height: 1.3;
  margin-top: auto;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .value {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    width: 209px;
    height: 108px;
    padding: 14px 18px;
    align-items: flex-start;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 214px;
    height: 108px;
    padding: 14px 18px;
    align-items: flex-start;
    gap: 32px;
  }
  .text {
    font-feature-settings: 'clig' off, 'liga' off;
    line-height: 18px;
  }
}
