.container {
  margin-left: 20px;
  margin-right: 20px;
}
.title {
  color: #efede8;
  font-size: 24px;
  line-height: 28px;
  margin-top: 40px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 40px;
  /* margin-left: 10px; */
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
    line-height: 44px;
    margin-top: 72px;
  }
  .wrapper_data {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-left: 96px;
    margin-right: 96px;
  }
  .wrapper_content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .wrapper_form {
    border-right: 1px solid rgba(239, 237, 232, 0.2);
    padding-right: 50px;
  }
}
