.header_home_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon_logo {
  max-width: 36px;
  max-height: 13px;
  fill: #e6533c;
}

.icon_text {
  width: 82px;
  height: 12px;
  fill: #efede8;
}
.avatar_icon {
  display: flex;
  width: 37px;
  margin-left: auto;
  height: 37px;
  fill: rgba(48, 48, 48, 0.3);
  stroke-width: 1px;
  stroke: #e6533c;
}
