.header {
  display: flex;
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  margin: 0 auto;
}

.header_logo {
  display: flex;
  align-items: center;
  background-color: transparent !important;
}

.icon_logo {
  width: 36px;
  height: 13px;
  fill: #e6533c;
}

.icon_text {
  width: 82px;
  height: 12px;
  margin-left: 8px;
  fill: #efede8;
}

.ctrl_container {
  display: flex;
  margin-left: auto;
}

.settings_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.settings_button:is(:hover, :focus) {
  transform: rotate(45deg);
}
.avatar_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border: 1px solid #e6533c;
  border-radius: 50%;
  margin-left: 14px;
}
.avatar_icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  fill: rgba(239, 237, 232, 0.1);
}
.avatar{
  width: 37px;
  height: 37px;
  border: 1px solid #e6533c;
  border-radius: 50%;
}

.burger_menu_button {
  display: flex;
  margin-left: 16px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.logout_button {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  color: #efede8;
  border: none;
  background-color: transparent;
  line-height: 1.5; /* 150% */
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .icon_logo {
    width: 44px;
    height: 17px;
  }

  .icon_text {
    width: 100px;
    height: 15px;
  }
  .avatar_wrapper{
    width: 46px;
    height: 46px;
    margin-left: 16px;
  }
  .avatar{
    width: 46px;
    height: 46px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    width: 1440px;
    padding-left: 96px;
    padding-right: 96px;
  }
  .avatar_wrapper{
    margin-right: 16px;
  }
}
