.DayExercises {
  border: 1px solid #efede833;
    border-radius: 12px;
    background: linear-gradient(
      0deg,
      rgba(239, 237, 232, 0.053),
      rgba(239, 237, 232, 0.052)
    ),
    linear-gradient(0deg, rgba(239, 237, 232, 0.046), rgba(239, 237, 232, 0.05));

    padding: 16px;
    margin-bottom: 32px;

    width: 335px;
    min-height: 250px;
    max-height: 834px;
    overflow-y: auto;
    overflow: auto;
  }

  .DayExercisesHead {
    display: flex;
    justify-content: space-between;
  }
  .DayExercisesHead h2 {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #efede843;
  }
  .DayExercisesHead a {
    font-family: Roboto-500;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;

    text-align: left;
    color: #e6533c;
  }

  .DayExercises span {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  span p {
    display: inline-block;
  }




  .DayExercises .tdDellete {
    border: none;
    padding-left: 10px;
  }
  .DayExercises .tdDellete button {
    display: block;
    padding: 0px;
    background-color: transparent;
  }


  .trashIcon{

    stroke: #EF8964;
  }

  .DayExercises table {
    display: block;
    margin: 0px;
    position: relative;
    border-spacing: 8px;
    border: none;
  }

  .DayExercises thead {
    display: block;
    height: 18px;
  }
  .DayExercises tbody {
    display: block;

    margin-top: 8px;
    max-height: 740px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
  }
  .DayExercises thead,
  .DayExercises tbody {
    padding-right: 18px;
  }
  .DayExercises tbody tr {
    height: 38px;
  }

  .DayExercises th {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #ef8964;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .DayExercises td {
    border-radius: 12px;
    border: 1px solid #efede833;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
    text-align: left;
  }
  .DayExercises td div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:  #EFEDE8;

  }

  .tdBodyPart,
  .thBodyPart {
    width: 297px;
   }
  .tdEquipment,
  .thEquipment {
    width: 297px;

  }
  .tdName,
  .thName {
 width: 297px;

  }
  .tdTarget,
  .thTarget {
   width: 80px;

  }
  .tdBurnedCalories,
  .thBurnedCalories {
    width: 80px;

  }
  .tdTime,
  .thTime {
    width: 76px;

  }
  .btnAddExersisec {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .arrowIcon {
    width: 16px;
    height: 16px;
  }
  .DayExercises .tdDelete{
    border:none;
    background-color: transparent;
    padding: 0px;
  }
  .DayExercises .tdDelete button {
    border: none;
    background-color: transparent;
  }

  .btnAddExercises{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#e6533c;
  }
  .DayExercisesTable .not_found{
    display: block;
  }
  .btnAddExercises svg{
    margin-left: 8px;
  }
  .not_found {
    width: 125px;
    font-size: 14px;
    line-height: 18px;
    color: #efede83a;
    margin: 0  auto;
    margin-top: 80px;
  }
  @media screen and (min-width: 768px) {
    .DayExercises {
      min-height: 0;
      height: 234px;
      width: 704px;
    }
    .not_found{
      left: 40%;
    }
    .DayExercises tbody {
      height: 146px;
    }
    .DayExercises tbody tr {
      height: 40px;
    }
    .DayExercises td {
      font-size: 16px;
    }
  .tdName,
  .thName{
    width: 128px;
  }
  .tdName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tdName > div{
    width: 128px;
  }
  .DayExercises table{
    padding: 0;
  }
  .DayExercises tbody{
    padding: 0;
  }
  .DayExercises thead{
    padding: 0;
  }
  .DayExercises .tdDelete{
    padding: 0;
  }
  .thBurnedCalories{
    width: 78px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  }

  @media screen and (max-width: 768px) {
    .DayExercises {
      padding-left: 16px;
      padding-right: 8px;
    }
    .DayExercisesHead {
      margin-bottom: 8px;
    }

    .DayExercises .tdDellete {
      padding: 0px;
    }


    .DayExercisesTable table {
      border-spacing: 0px;
    }
    .DayExercises tbody {
      padding-right: 0px;
      margin-top: 22px;
      width: 309px;
    }
    .DayExercises thead {
      display: none;
    }

    .DayExercises tbody tr {
      display: block;
      height: 320px;

      margin-top: 24px;
    }
    .DayExercises td {
      position: relative;

      display: inline-grid;
      align-items: center;

      height: 38px;
      margin-bottom: 42px;
    }

    .DayExercises td:nth-of-type(1) {
      max-width: 297px;
      min-width: 297px;
    }
    .DayExercises td:nth-of-type(1)::before {
      content: "Body Part";
      position: absolute;
      top: -24px;
      font-size: 12px;
      color: #ef8964;
    }

    .DayExercises td:nth-of-type(2) {
      max-width: 297px;
      min-width: 297px;
    }
    .DayExercises td:nth-of-type(2)::before {
      content: "Equipment";
      position: absolute;
      top: -24px;
      font-size: 12px;
      color: #ef8964;
    }

    .DayExercises td:nth-of-type(3) {
      max-width: 297px;
      min-width: 297px;
    }
    .DayExercises td:nth-of-type(3)::before {
      content: "Name";
      position: absolute;
      top: -24px;
      font-size: 12px;
      color: #ef8964;
    }

    .DayExercises td:nth-of-type(4) {
      max-width: 81px;
      min-width: 81px;
      margin-right: 16px;
    }
    .DayExercises td:nth-of-type(4)::before {
      content: "Target";
      position: absolute;
      top: -24px;
      font-size: 12px;
      color: #ef8964;
    }

    .DayExercises td:nth-of-type(5) {
      max-width: 80px;
      min-width: 80px;
      margin-right: 16px;
    }
    .DayExercises td:nth-of-type(5)::before {
      content: "Burned Cal...";
      position: absolute;
      top: -24px;
      font-size: 12px;
      color: #ef8964;
    }

    .DayExercises td:nth-of-type(6) {
      max-width: 76px;
      min-width: 76px;
      margin-right: 8px;
    }
    .DayExercises td:nth-of-type(6)::before {
      content: "Time";
      position: absolute;
      top: -24px;
      font-size: 12px;
      color: #ef8964;
    }
  }

 

  .linkExercises {
    transition: color var(--transition-duration) var(--transition-cubic);
  }

  .linkExercises:hover,
  .linkExercises:focus {
    color: var(--white);
  }

  @media screen and (min-width: 1440px) {
    .DayExercises{
      width: 826px;
    }
    .DayExercises table {
      padding-left: 8px;
    }
    .DayExercises .tdDellete {
      padding-left: 2px;
    }

    .tdBodyPart,
    .thBodyPart {
     width: 115 px;

    }
    .tdEquipment,
    .thEquipment {
    width: 157px;

    }
    .tdName,
    .thName {
     width: 131px;

    }
    .tdTarget,
    .thTarget {
     width: 106px;

    }
    .tdBurnedCalories,
    .thBurnedCalories {
    width: 91px;

    }
    .tdTime,
    .thTime {
    width: 82px;

    }
  }


  .recommendCircle {
    display: block;
    width: 14px;
    height: 14px;
  }
