.title {
    color: #EFEDE8;
    font-family: Roboto-700;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
    margin-top: 76px;
    margin-left: 20px;
    text-transform: capitalize;
  }

  .containerTitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  /* При ширине экрана от 768px выравниваем элементы по горизонтали */
  @media (min-width: 768px) {
    .title{
        margin-left: 10%;
        
    }
}

@media (min-width: 1440px) {
  .title{
      margin-left: 10%;
      
  }
}
