.log_out_link {
  display: flex;
  font-size: 16px;
  align-items: center;
  margin-left: auto;
  padding: 0;
  justify-content: center;
  color: var(--white-color);
  border: none;
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
}
.log_out_link:hover{
  scale: 1.1;
}

.logout_icon {
  margin-left: 8px;
  stroke: var(--orange-main-color);
  width: 20px;
  height: 20px;
  fill: transparent;
}
.iconBurger{
  stroke: white
}
/* .iconBurger{
  stroke: white;
} */

/* @media screen and (min-width: 768px) {
  .log_out_link{
    margin-left: 500px;
  }
} */

@media screen and (min-width: 1440px){
  .log_out_link{
    margin-left: auto;
  }
}
