.container {
    background-image: url('../../images/mobile_images/hero-mobile.png');
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    background-color: #000000;
    margin: 0;
    width: 100%;
}

@media (min-resolution: 192dpi) {
    @media (min-resolution: 192dpi) {
        .container {
            background-image: url('../../images/mobile_images/hero-mobile@2x.png');
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        background-image: url('../../images/tablet_images/hero-tablet.png');
        padding: 0;
    }

    @media (min-resolution: 192dpi) {
        .container {
            background-image: url('../../images/tablet_images/hero-tablet@2x.png');
        }
    }
}

@media screen and (min-width: 1440px) {
    .container {
        background-image: url('../../images/desktop_images/hero-desktop.png');
        padding: 0;
    }

    @media (min-resolution: 192dpi) {
        .container {
            background-image: url('../../images/desktop_images/hero-desktop@2x.png');
        }
    }
}