.navigaton {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.navigation_list {
  display: flex;
  gap: 16px;
}

.navigation_link {
  padding: 10px 27px;
  line-height: 1.5; /* 150% */
  color: #efede8;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation_link:is(:hover, :focus) {
  background: #e6533c;
}
